* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

h1 {
    text-align: center;
}

.wrapper {
    text-align: center;
    min-height: 100vh;
    }

.wrapper div {
    background-color: aliceblue;
    border: 4px solid #333;
    border-radius: 100%;
    display: inline-block;
    font-size: 2em;
    line-height: 90px;
    width: 100px;
    height: 100px;
    margin: 1em;
    text-align: center;
    position: relative;
    
}

.wrapper div:nth-of-type(7) {
    background-color: rgb(132, 7, 121);
    color: white;
    border: none;
    position: relative;
    transform: translate(-500px, 200px);
   
    
}

/* Animacija 1 */

@keyframes animacija1 {
    0% {
        left: 0;
        background-color: aliceblue;
        transform: scale(1);

    }

    50% {
        left: 0;
        background-color: rgb(238, 238, 182);
        transform: scale(1.1);

    }
}

.wrapper>div:nth-of-type(1) {
    animation: animacija1 2s ease-in-out 0s infinite;
}

/* za poslije: krug mora narasti... */


/* Animacija 2 */

@keyframes animacija2 {
    0% {
        top: 0;
        transform: rotate(0deg) scale(1);
        
    }

    50% {
        top: 200px;
        transform: rotate(180deg) scale(0.7);
    }

    100% {
        top: 0;
        transform: rotate(0deg) scale(1);
    }
}

.wrapper>div:nth-of-type(2) {
    animation: animacija2 2s linear 0s infinite;
}

/* Animacija 3  */

@keyframes animacija3 {
    0% {
        transform: rotate(0);
        border-radius: 50%;
    }

  
    50% {
        transform: rotate(180deg);
        border-radius: 0%;
    }


    100% {
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

.wrapper div:nth-child(3) {
    animation: animacija3 5s ease-in-out infinite;
}



/* Animacija 4 */

@keyframes animacija4 {
    0%   { 
        transform: translateY(0); 
    }
    50%  { 
        transform: translateY(-15px); 
    }
    100% { 
        transform: translateY(0); 
    }
}

.wrapper>div:nth-of-type(4) {
    animation: animacija4 0.5s linear 0s infinite;
}


/* Animacija 5 */

@keyframes animacija5 {
    0% {
        background-color: aliceblue;
        transform: translateY(0) rotate(0);
    }

    25% {
        background-color: aliceblue;
        transform: translateY(390px) rotate(0);
    }
    50% {
        background-color: rgb(237, 215, 235);
        transform: translateY(400px) rotate(360deg);
    }

    75% {
        background-color: aliceblue;
        transform: translateY(400px) rotate(0);
    }

    100% {
        background-color: aliceblue;
        transform: translateY(0) rotate(0) ;
    }
    
}

.wrapper div:nth-child(5) {
    animation: animacija5 5s linear 0s infinite ;
}



/* Animacija 6 */

@keyframes animacija6 {
    
    from {
        top: 0;
    }

   to {
    transform: translateY(400px)
  }
}

/* Ovdje ne razumijem najbolji način da pošaljem krug da ide skroz do dna ekrana */

div:nth-of-type(6) {
    animation: animacija6 10s linear infinite;
}

div:nth-of-type(6):hover {
    animation-play-state: paused;
}


/* Animacija 7 */

@keyframes border-pulsate {
    0%   { border-color: transparent }
   100% { border-color: white; }
}

.wrapper>div:nth-of-type(7) {
    border: 4px solid cyan;
    animation: border-pulsate 2s infinite reverse;
}