* {
    margin: 0;
    box-sizing: border-box;
}


body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; 
    flex-wrap: wrap;   
    border: 1px solid rgb(192, 186, 186);
}

.wrapper div {
    background-color: rgb(239, 240, 241);
       width: 400px;       
       height: 100px;
       padding: 20px;
    text-align:center;
       margin: 10px;
        border: 1px solid rgb(192, 186, 186);
         }