* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    border: 1px dashed black;
    min-height: 100vh;
    padding: 1em;
    justify-content: space-between;
    
}

.wrapper div {
    background-color: rgb(234, 234, 238);
    border: 1px solid #666;
    padding: 1em; 
    /*ovdje padding određuje koliko će brojevi tj tekst  biti odmaknuti od rubova stupaca, jer wrapper div predstavlja iteme */
    text-align: center;
    flex-basis: 18vw; 
    /* flex-basis određuje inicijalnu veličinu objekta prije nego se slobodan prostor distribuira prema flex faktorima. Kada se izostavi, računa se da je nula
    U ovom primjeru je 20 vjv. jer je 100:5 = 20, pa da stane još i space between  */
}

/*
Zakomentirala jer sam umjesto itema targetirala sve pomoću .wrapper div, umjesto na razini klase itema, pa se svodi na isto

.flex-item {
    flex-basis: 18vw;
} */

/*
Zakomentirala sam ovo jer sam prebacila u wrapper pošto targetiraju isto

.flex-container {
    display: flex;
} */