* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px solid black;
    padding: 1em;
    height: 950px;
}

.wrapper div {
    background-color: rgb(234, 234, 238);
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
    width: 350px;
    margin: 1em;
}

.flex-container {
    display: flex;
    flex-flow: row-reverse;
}