$dark: #333;
$light: rgb(232, 232, 232);
$red: rgb(164, 19, 48);

$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

* {
    box-sizing: border-box;
} 

body {
    font-family: $font;
    margin: 0;
}

// Common button style
@mixin button-style {
    display: inline-block;
    padding: 10px 120px; // Set the default button width
    text-decoration: none;
    color: $light;
    background-color: $red;

    &:hover {
        background-color: $light;
        color: $red;
    }
}

// Nav
nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    li {}

    a {
        @include button-style;
    }
}

// Header
header {
    background-color: $dark;
    padding: 20px;

    div {
        text-align: center;
        color: $light;
    }

    a {
        @include button-style;
    }
}

// Main

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;

    h1 {
        text-align: center;
        padding: 0 28%;
        translate: 50px 0px;
    }


    section {
        flex: 0 0 calc(33.33% - 20px); // Set width for each section with space in between
        margin-left: 15px;
        margin-bottom: 20px; // Add space between rows
        border: 1px solid black;
        padding: 20px;        
    }
}



footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    background-color: $dark;
    color: $light;

    h1 {
        text-align: center;
        padding: 0 28%;
        translate: 50px 0px;
    }


    section {
        flex: 0 0 calc(50% - 20px); // Set width for each section with space in between
        margin-left: 15px;
        margin-bottom: 20px; // Add space between rows
        padding: 25px;        
    }
}