h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: #333;
}

body {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  background: url(../../../images/pattern.png) center,
    url(../../../images/fire.png) center 100%/15% no-repeat,
    url(../../../images/blossom.jpg) center center/cover fixed;
}
